* {
	font-family: 'Ubuntu', sans-serif;
}

.header {
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #AAA;
	overflow: hidden;
}

.header > .logo-container {
	position: absolute;
	visibility: hidden;
	display: inline-block;
	float: left !important;
	text-align: center;
	max-width: 150px;
	height: 80px;
}

.header > .logo-container > .logo {
	position: relative;
	width: 50px;
	height: 50px;
	top: 50%;
	transform: translateY(-50%);
}

.header > .friend-search-container {
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 60px;
	min-width: 400px;
	height: 50px;
	top: 50%;
	transform: translateY(-50%);
}

.friend-search {
	width: 400px;
	padding: 10px 0px;
	font-size: 1.3em;
	color: #555;
	border: none;
	border-bottom: 3px solid #AAA;
}

.friend-search:focus {
	outline: none;
}

.submit-button {
	margin-left: 20px;
	padding: 14px 10px;
	font-size: 1em;
	font-weight: bold;
	border: 1px solid #AAA;
	border-radius: 5px;
	background-color: white;
}

.submit-button:hover {
	color: #1555CC;
}

.board-search-container {
	display: inline-block;
	position: relative;
	float: left;
	min-width: 400px;
	height: 50px;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 30px;
}

.board-search {
	width: 400px;
	padding: 10px 0px;
	font-size: 1.3em;
	color: #555;
	border: none;
	border-bottom: 3px solid #AAA;
}

.board-search:focus {
	outline: none;
}

.logout-button-container {
	float: right;
	width: 150px;
	height: 80px;
}

.logout-button {
	position: relative;
	float: right;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 40px;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	padding: 14px 10px;
	border: 1px solid #AAA;
	border-radius: 5px;
	color: black;
	background-color: white;
}

.logout-button:hover {
	color: #1555CC;
}

.school {
	max-height: 250px;
	max-width: 400px;
	min-height: 250px;
	min-width: 400px;
	border-radius: 7px;
}

.school-id {
	position: absolute;
	top: 40%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	font-size: 55px;
	color: white;
}

.add-article {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 20px;
}

.disabled-button {
	background-color: #AAA;
}

.body-wrapper {
	margin: 0 auto;
	/*min-height: 600px;*/
	/*background-color: cyan;*/
}

.article-wrapper {
	position: relative;
	left: 0;
	right: 0;
}

.board-card {
	position: relative;
	display: inline-block;
	height: 250px;
	width: 400px;
	margin: 15px 0px 15px 45px;
	border: 1px solid #AAA;
	border-radius: 7px;
	background-color: lightgrey;
	font-size: 55px;
	color: white;
}

.board-card .community{
	background-color: grey;
}

.board-link {
	width: 100%;
	height: 100%;
	z-index: 1000;
	//background-color: cyan;
}

.article-card {
	display: inline-block;
	width: 400px;
	margin: 15px 0px 15px 45px;
	border: 1px solid #AAA;
	border-radius: 7px;
	text-decoration: 0;
	color: black;
	font-size: 18px;
}

.article-card:nth-child(1n) {
	height: 550px;
}

.article-card:nth-child(2n) {
	height: 400px;
}

.article-card:nth-child(3n) {
	height: 700px;
}

.article-card > .article-card-image {
	width: 100%;
	height: 65%;
	background-color: #e8e8e8;
}

.article-card-image > img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;

}

.article-card > .article-card-info {
	position: relative;
	width: 100%;
	height: 35%;
	text-align: center;
	background-color: #fff;
}

.article-card-info > h3 {
	margin-top: 0;
	padding-top: 10px;
}

.article-card-info > h4 {
	position: absolute;
	bottom: 0;
	width: 100%;
}


@media (max-width: 883px) {
	.body-wrapper {
		width: 500px;
	}
}

@media (min-width: 883px) {
	.body-wrapper {
		width: 900px;

	}
}

@media (min-width: 1310px) {
	.body-wrapper {
		width: 1350px;
	}
}

@media (min-width: 1748px) {
	.body-wrapper {
		width: 1900px;
	}
}

.error-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 20vw;
}
