<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
  <body>

    <h1>{{ name }}'s articles.</h1>

    <ul>
      {% for article in all_articles %}
        <li>{{ article }}</li>
      {% endfor %}
    </ul>

    {% for board in subbed_boards %}
      <h3>{{ board[1] }}</h3>
      <ul>
        {% for article in board[2] %}
          <li>{{ article[0] }}</li>
        {% endfor %}
      </ul>
    {% endfor %}

    <h3>Add Friend</h3>
    <form action="{{ url_for('addFriend') }}" method="POST">
      <select name="user">
        {% for user in all_users %}
          <option value={{ user[0] }}>{{ user[1] }}</option>
        {% endfor %}
      </select>
      <input type="submit"></submit>
    </form>

    <h3>Add Article</h3>
    <form action="{{ url_for('addArticle') }}" method="POST">
      <input name="article" type="text" placeholder="Insert article url"></input>
      <select name="cat">
        <option value='NULL'>None</option>
        {% for cat in subbed_cats %}
          <option value={{ cat[0] }}>{{ cat[1] }}</option>
        {% endfor %}
      </select>
      <input type="submit"></submit>
    </form>

    <h3>Add Board</h3>
    <form action="{{ url_for('addBoard') }}" method="POST">
      <input name="board" type="text" placeholder="Board name"></input>
      <input type="submit"></submit>
    </form>

    <h3>Log Out</h3>
    <a href="/logout"><button>Log Out</button></a>

  </body>
</html>
